body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

h5 {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

nav {
  background-color: #22333b;
  display: flex;
  justify-content: center;
}

ul.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
}

ul.nav-links li {
  /* margin: 0 10px; */
}

ul.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 20px 10px;
  /* border-bottom: 2px solid transparent; */
}

ul.nav-links li .dropdown-link:hover {
  color: #c6ac8f;
  /* border-bottom: 2px solid #C6AC8F; */
}

ul.nav-links li.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  /* display: inline-flex; */
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #444;
  align-items: center;
  justify-content: center;
}

.dropdown-content .dropdown-group {
  /* display: block; */
  flex-grow: 1;
  padding: 10px;
}

.dropdown-content .dropdown-group a {
  color: #797979;
  font-size: 13px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
  width: 100%;
  border-left: 3px solid transparent;
  padding: 10px;
}

.dropdown-content .dropdown-group a:hover {
  background-color: #f4f4f4;
  color: #22333b;
  border-left: 3px solid #22333b;
}

.dropdown-content .dropdown-group:nth-child(even) {
  background-color: #eae0d5;
  color: #000;
}

.dropdown-content .dropdown-group:nth-child(odd) {
  background-color: #fff;
  color: #000;
}
